* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5a5b5d;
  background: #F7F6FA;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}